---
import '../styles/normalize.css';
import '../styles/webflow.css';
import '../styles/index.css';
import Sample from '../components/sample/sample.astro'

---


<!DOCTYPE html>

<html data-wf-page="612bf83d101af9fca004c39e" data-wf-site="612bf83c101af90c9c04c39a" lang="eng">
<head>
  <meta charset="utf-8">
  <title>Gabriola Fall Fair</title>
  <meta content="A one-day celebration of harvest and fall equinox on Gabriola island. COMPETIONS, SQUASH RACES and MORE, at the Gabriola Commons! Thank you for joining us in 2021" name="description">
  <meta content="Gabriola Fall Fair" property="og:title">
  <meta content="A one-day celebration of harvest and fall equinox on Gabriola island. COMPETIONS, SQUASH RACES and MORE, at the Gabriola Commons! Thank you for joining us in 2021" property="og:description">
  <!-- <meta content="https://uploads-ssl.webflow.com/612bf83c101af90c9c04c39a/612c223908e8df7ed7210c2f_29426601966_bf199e55c4_o.jpeg" property="og:image"> -->
  <meta content="Gabriola Fall Fair" property="twitter:title">
  <meta content="A one-day celebration of harvest and fall equinox on Gabriola island. COMPETIONS, SQUASH RACES and MORE, at the Gabriola Commons! Thank you for joining us in 2021" property="twitter:description">
  <!-- <meta content="https://uploads-ssl.webflow.com/612bf83c101af90c9c04c39a/612c223908e8df7ed7210c2f_29426601966_bf199e55c4_o.jpeg" property="twitter:image"> -->
  <meta property="og:type" content="website">
  <meta content="summary_large_image" name="twitter:card">
  <meta content="width=device-width, initial-scale=1" name="viewport">
  <link href="css/normalize.css" rel="stylesheet" type="text/css">
  <link href="css/webflow.css" rel="stylesheet" type="text/css">
  <link href="css/fall-fair.webflow.css" rel="stylesheet" type="text/css">
  <style>@media (min-width:992px) {html.w-mod-js:not(.w-mod-ix) [data-w-id="29ee5900-ec6d-1893-983c-4736b43dade9"] {color:rgb(45,44,46);}html.w-mod-js:not(.w-mod-ix) [data-w-id="48a523e7-0867-3fed-29fb-0ed7ecc65d9a"] {opacity:0;}}@media (max-width:991px) and (min-width:768px) {html.w-mod-js:not(.w-mod-ix) [data-w-id="29ee5900-ec6d-1893-983c-4736b43dade9"] {color:rgb(45,44,46);}html.w-mod-js:not(.w-mod-ix) [data-w-id="48a523e7-0867-3fed-29fb-0ed7ecc65d9a"] {opacity:0;}}@media (max-width:767px) and (min-width:480px) {html.w-mod-js:not(.w-mod-ix) [data-w-id="29ee5900-ec6d-1893-983c-4736b43dade9"] {color:rgb(45,44,46);}}</style>
  <script src="https://ajax.googleapis.com/ajax/libs/webfont/1.6.26/webfont.js" type="text/javascript"></script>
  <script type="text/javascript">WebFont.load({  google: {    families: ["Montserrat:100,100italic,200,200italic,300,300italic,400,400italic,500,500italic,600,600italic,700,700italic,800,800italic,900,900italic","Open Sans:300,300italic,400,400italic,600,600italic,700,700italic,800,800italic","Lato:100,100italic,300,300italic,400,400italic,700,700italic,900,900italic","Shrikhand:regular"]  }});</script>
  <!-- [if lt IE 9]><script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.min.js" type="text/javascript"></script><![endif] -->
  <script type="text/javascript">!function(o,c){var n=c.documentElement,t=" w-mod-";n.className+=t+"js",("ontouchstart"in o||o.DocumentTouch&&c instanceof DocumentTouch)&&(n.className+=t+"touch")}(window,document);</script>
  <link href="/public/favicon.png" rel="shortcut icon" type="image/x-icon">
  <link href="/public/webclip.png" rel="apple-touch-icon">
  <meta name="theme-color" content="#fdfce4">
  <meta name="generator" content={Astro.generator} />
  <style>
.expand-less-icon {
	pointer-events: none;
}
.slider {
  display: block;
  -webkit-appearance: none;
  background-color: #8cd859;
  width: 100%;
  height: 5px;
  border-radius: 5px;
  margin: 0 auto;
  outline: 0;
}
.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  background-color: #8cd859;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 2px solid #fffeed;
  cursor: pointer;
  transition: .3s ease-in-out;
}
.slider::-webkit-slider-thumb:hover {
    background-color: #fffeed;
    border: 2px solid #8cd859;
  }
  input[type="range"]::-webkit-slider-thumb:active {
    transform: scale(1.6);
  }
</style>
</head>
<body>
  <nav class="navigation">
    <div class="nav-container">
      <div>
        <a href="#hero" class="logo w-inline-block">
          <h2 class="logo-heading simple">Gabriola<br>Fall Fair</h2>
          <h2 class="logo-heading detailed"><span class="text-span">Gabriola<br>Fall Fair<br>2023</span></h2>
        </a>
      </div>
      <div class="nav-right-wrapper">
        <a href="https://webflow.com/vimalanvijayasekaran" target="_blank" class="link cloneables">More cloneables</a>
        <a href="https://www.facebook.com/gabriolacommons" target="_blank" class="link">Facebook</a>
        <a href="https://www.gabriolacommons.ca/" target="_blank" class="link commons">Gabriola Commons</a>
        <a href="mailto:maximk7@gmail.com" class="link">Contact Us</a>
      </div>
    </div>
  </nav>
  <section id="hero" class="section hero wf-section"><img src="/public/612bf83d101af9225304c3bc_Mask-Group-1.svg" loading="lazy" alt="" class="image hide">
    <div class="container hero">
      <div class="hero-content-wrapper">
        <div class="made-for-community"><img src="/public/commons-logo-cream.png" loading="lazy" data-sizes="[{&quot;max&quot;:479,&quot;size&quot;:&quot;12vw&quot;},{&quot;max&quot;:10000,&quot;size&quot;:&quot;30px&quot;}]" alt="" class="_wf-logo">
          <div class="qf-text">A Gabriola Commons tradition!<br></div>
        </div>
        <h1 id="heading-title" class="hero-heading">Gabriola<br>Fall Fair</h1>
        <h3 class="sub-heading editable">sunday, september 17th, 12pm - 6pm @the Gabriola commons</h3>
        <p class="paragraph"><strong>‍</strong>A one-day celebration of harvest and fall equinox. Featuring an exhibition, booths, games, food, music, and YES the Gabriola Famous Squash Race! Fun for all ages.<br></p>
        <div>
          <a data-w-id="29ee5900-ec6d-1893-983c-4736b43dade9" href="https://www.facebook.com/events/1339381806789423" target="_blank" class="button w-inline-block">
            <div class="button-text">Facebook</div>
            <div class="button-bg facebook"></div>
          </a>
          <!--<a href="#call-outs" class="button w-inline-block">
            <div class="text-block-12">Info</div>
            <div class="button-bg"></div>
          </a>-->
        </div>
      </div>
      <div class="hero-image-wrapper"><img src="/public/Masked-Squash-racer.png" loading="lazy" data-w-id="be8b1bdd-8a17-ccd1-840f-02e6dedfddd0" data-sizes="[{&quot;max&quot;:479,&quot;size&quot;:&quot;89vw&quot;},{&quot;max&quot;:767,&quot;size&quot;:&quot;400px&quot;},{&quot;max&quot;:991,&quot;size&quot;:&quot;52vw&quot;},{&quot;max&quot;:10000,&quot;size&quot;:&quot;28vw&quot;}]" srcset="/public/Masked-Squash-racer-p-500.png 500w, /public/Masked-Squash-racer.png 648w" sizes="(max-width: 479px) 89vw, (max-width: 767px) 400px, (max-width: 991px) 52vw, 28vw" alt="" class="hero-image">
        <div class="hero-image-shadow"></div>
      </div>
    </div>
  </section>
  <!-- <section class="normal-section white wf-section">
    <div id="schedule" data-w-id="130f812a-3591-c6fa-baf9-ee60a87230ae" class="nav-color-controller"></div><img src="/public/Mask-Group-1.svg" loading="lazy" alt="" class="image hide">
    <div class="container call-outs">
      <div class="row-wrap single black">
        <div id="w-node-_62fada3a-5fa5-6dc5-5d85-6d55574588db-a004c39e" class="row-header-wrap">
          <h2 class="row-header green">thank you!!</h2>
          <div class="w-richtext">
            <p>HUGE gratitude to everyone who made this year&#x27;s Fair epic and amazing!<br><br><strong>Our core volunteers:</strong><br>Paula Brent, Jeff Miller, Jeannine Rutgers, Shelly Green, David Reid, Valerie Mermet, Ken Gurr, Claire Macdonald, Linda Neilson, Patti Mertz, Max Cossette, Alex Vanamerongen, Doug Galloway, Lee Ker, Janet Lironi, Scarlet Chen, Bob Andrew, Allie Charron, Erin Mancor<br>‍<br><strong>Our other amazing volunteers: </strong><br>Fraser Gabbott, Margo Anfossie, Tobi Elliot, Nicole Armstrong, Iain Scott, Lara Yeo, Sara Charron, Becky Furnell, Jason Brown, Louise Amuir, Evelyn Nowatzki, Judith Roux, Kim Kasasian, Morgan, Shannon, Flynn, Dylan, Liz, Jinny Hayes, George Szantos<br><br><strong>Expo judges: </strong>Carol Fergusson / GAC, Fay Weller / GIRO, Sarah Chiasson / Sarah&#x27;s Flowers + Baked goods, Olena / Angelstar Farms+ Preserves, Gai Campbell, Talyn / Agi Co-op, Trevor Gear &amp; Dinah D / the Fun Farm<br>‍<br><strong>Donations and support from: </strong> <br>Gabriola Chamber of Commerce, Village Liquor Store, Ravenskill Orchard and Ciders, Good Earth Farm, Watercliff Permaculture Farm, Garden Bed Farm, Lynn Bowerman, Gabriola Arts Council, Gabriola Lions Club <br><br>‍<strong>Special Thanks to:</strong> The Gabriola Commons community and Saturday work bees for making the Commons so beautiful, and keeping the Commons organization running!<br><br>And to Mother Earth, for her bounty! 💐</p>
            <p>‍<strong>‍</strong></p>
            <p>‍<strong>Celebrations...</strong></p>
            <p>+ 400 - 500 participants</p>
            <p>+ packed squash race</p>
            <p>+ epic tug o war</p>
            <p>+ amazing splashes of decorations everywhere </p>
            <p>+ 150+ beautiful entries in the Expo</p>
            <p>+ 20+ vendors</p>
            <p>+ delicious food made from locally grown produce</p>
            <p>+ pet and people parade - so good</p>
            <p>+ a horse! and tiny chickens!</p>
            <p>+ tap dancing brass band</p>
            <p>+ dancing in the rain</p>
            <p>+ bonfire socials</p>
            <p>+ a toast to the Farmers from Rosheen Holland</p>
            <p>+ $1000s raised for two projects at the Commons: accessibility elevator for the Farm House, and picnic tables for the Commons grounds</p>
            <p>+ joy and love and laughter and connection</p>
          </div>
        </div>
      </div>
    </div>
  </section> -->
  <section id="call-outs" class="normal-section blue wf-section"><img src="/public/612bf83d101af9225304c3bc_Mask-Group-1.svg" loading="lazy" alt="" class="image">
    <article class="container call-outs">
      <h1 id="heading-title" class="heading-2">Call Outs</h1>
      <div class="row-wrap single">
        <div class="row-header-wrap">
          <h2 class="row-header orange">Exhibition / competition<br>‍</h2>
        </div>
        <div>
          <div class="rich-text w-richtext">
            <p><strong>Exhibition Details:</strong></p>
            <p>+ All submissions must be Gabriola made or grown.<br></p>
            <p>+ You can enter as many categories as you&#x27;d like..<br></p>
            <p>+ There are open categories for Junior Maker, Baker, and Farmer for our young creators! <br></p>
            <p>+ Bring entries to the Commons on Sunday, Sept 18th between 9-11am.<br></p>
            <p>+ Pre-registration is not required. We&#x27;ll have forms on site for you to add info.</p>
            <p>+ All first place peeps will receive a ribbon handmade by our volunteer team (we hope to have enough made for 2nd and 3rd too!)<br></p>
            <p>+ We&#x27;ll be announcing category winners throughout the event (12-6pm)<br></p>
            <p>+ Fair attendees will receive stickers to assign to their top picks. We also have an awesome roster of volunteer judges.</p>
            <p>Coordinator: </p>
            <p>maximk7@gmail.com</p>
            <p>‍</p>
            <p><strong>COMPETITION CATEGORIES</strong>
              <a href="documents/Gabriola-Fall-Fair-Exhibition-Categories-2021.pdf">Download PDF</a>
            </p>
            <p><strong>Crafts</strong></p>
            <ol role="list">
              <li>Up-cycled</li>
              <li>Sustainably-sourced nature crafts</li>
              <li>Fibre Art</li>
              <li>Pottery</li>
              <li>Woodwork</li>
              <li>Veggie Monsters</li>
              <li>Junior Maker<br></li>
            </ol>
            <p><strong>Flowers</strong></p>
            <ol start="8" role="list">
              <li>Mixed Bouquet</li>
              <li>Largest single bloom</li>
              <li>Cultivated native species arrangement</li>
              <li>Dahlias</li>
              <li>Sunflowers</li>
              <li>Weird and wacky (unique beauty)<br></li>
            </ol>
            <p><strong>Baked &amp; Preserved</strong></p>
            <ol start="14" role="list">
              <li>Pies</li>
              <li>Bread</li>
              <li>Cake</li>
              <li>Cookies</li>
              <li>Gluten-free Vegan</li>
              <li>Jams and Jellies</li>
              <li>Most innovative</li>
              <li>Tastiest topping (savory)</li>
              <li>Honey</li>
              <li>Junior Baker<br></li>
            </ol>
            <p><strong>Veggies &amp; Fruits</strong></p>
            <ol start="24" role="list">
              <li>Silly or seductive</li>
              <li>Heavyweight champion</li>
              <li>Largest diameter</li>
              <li>Spectacular squash</li>
              <li>Edible bouquet</li>
              <li>Rockin’ roots</li>
              <li>Perfectly imperfect fruit</li>
              <li>Berry bowl</li>
              <li>Terrific tomatoes</li>
              <li>Exotic fruits</li>
              <li>A+ Apples</li>
              <li>Junior Farmer<br></li>
            </ol>
            <p><strong>And…</strong></p>
            <ol start="36" role="list">
              <li>Fabulous fungi</li>
              <li>Eggceptional eggs</li>
              <li>Celebrity look-alike scarecrow</li>
              <li>Miniature scarecrow</li>
              <li>Home brew</li>
              <li>Best bud (cannabis)</li>
              <li>Harvest medley basket</li>
            </ol>
            <p>‍</p>
          </div>
        </div>
      </div><img src="/public/Scarecrow-Transparent.png" loading="lazy" id="w-node-c04ca2b0-8fc7-d734-1bce-b8a2ae9cac73-a004c39e" data-sizes="[{&quot;max&quot;:479,&quot;size&quot;:&quot;94vw&quot;},{&quot;max&quot;:767,&quot;size&quot;:&quot;93vw&quot;},{&quot;max&quot;:10000,&quot;size&quot;:&quot;600px&quot;}]" srcset="/public/Scarecrow-Transparent-p-500.png 500w, /public/Scarecrow-Transparent-p-800.png 800w, /public/Scarecrow-Transparent-p-1080.png 1080w, /public/Scarecrow-Transparent.png 1437w" sizes="(max-width: 479px) 94vw, (max-width: 767px) 93vw, 600px" alt="" class="scarecrow">
    </article>
  </section>
  <section class="normal-section orange wf-section"><img src="/public/612bf83d101af9225304c3bc_Mask-Group-1.svg" loading="lazy" alt="" class="image orange">
    <div data-w-id="ba49faed-bc5d-634f-572d-624e65881eb1" class="nav-color-controller"></div>
    <div class="container call-outs">
      <h1 id="heading-title" class="heading-2">Call Outs</h1>
      <div class="row-wrap">
        <div class="row-header-wrap">
          <h2 class="row-header blue">squash race!</h2>
          <p></p>
        </div>
        <div>
          <div class="rich-text w-richtext">
            <p><strong>Squash Race Guidelines</strong></p>
            <ul role="list">
              <li>Racetrack is a 24&#x27; long downhill slope. Squash racers are gravity-powered.</li>
              <li>Make a racer at home, using wheels and whatever materials and decorations you can find. <strong>The maximum size for the wheelbase is 18&quot; wide and 16&quot; long.</strong></li>
              <li>Didn&#x27;t make a racer ahead of time? No problem! Racecar makings and some donated squashes available day-of.  Please bring extra for other racers if you have them!</li>
              <li>Races begin 2:30pm. Detailed schedule will be posted onsite.</li>
            </ul>
            <br>
            <p><strong>Race Master:</strong></p>
            <p>‍<a href="mailto:Linda.Nielson@viu.ca">jeff@humannaturecounselling.ca</a>
            </p>
            <br>
            <p><strong>Categories:</strong></p>
            <ol role="list">
              <li><strong>Youth </strong>(self-identified)</li>
              <li><strong>&quot;90% Squash&quot;</strong> -for the pure squash racer, using the squash as the chassis:) Open to all-ages</li>
              <li><strong>Open </strong>- anything goes, all-ages</li>
            </ol>
          </div>
        </div>
      </div>
      <div class="row-wrap">
        <div class="row-header-wrap">
          <h2 class="row-header blue">CALL FOR BOOTHS: VENDORS, ARTISANS, COMMUNITY GROUPS</h2>
          <p>Contact: maximk7@gmail.com</p>
        </div>
        <div>
          <div class="rich-text w-richtext">
            <ul role="list">
              <li>You bring everything you need. Wifi available, but no tables, tents, power or water supplied.</li>
              <li>We want this event to be a lot of fun and interactive.</li>
              <li>We’re trying to create a “Midway” feel. We strongly encourage you to create an all-ages game for your booth! (This could also be used as a fundraiser for your group, or attract people to your business.)</li>
              <li>Registration is $20 for displays, demos, info booths / $30 if you are selling something.</li>
              <li>Please allow some time after the event to help with the general clean up.</li>
              <li>You will be given a space on the day-of during setup (10:30am - 12pm).</li>
              <li>Email <a href="mailto:maximk7@gmail.com">maximk7@gmail.com</a> to secure a space.</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </section>
  <footer id="footer" class="footer wf-section">
    <div class="container-2 w-container">
      <div class="footer-flex-container-2">
        <div>
          <h2 class="footer-heading-2">send us a message</h2>
          <ul role="list" class="w-list-unstyled">
            <li class="list-item">
              <div class="text-block-11">Email:</div>
              <a href="mailto:maximk7@gmail.com?subject=Hey!" class="footer-link">maximk7@gmail.com</a>
            </li>
          </ul>
        </div>
        <div>
          <h2 class="footer-heading-2">Credits</h2>
          <ul role="list" class="w-list-unstyled">
            <li class="list-item">
              <div class="text-block-11">Photo Elements</div>
              <a href="https://www.flickr.com/photos/gabriolaisland/" class="footer-link">Bill Pope,</a>
              <a href="#" class="footer-link dead"> Jinny Hayes</a>
            </li>
            <!-- <li class="list-item">
              <div class="text-block-11">Coordination</div>
              <a href="http://maji.events" target="_blank" class="footer-link">Maji Events</a>
            </li> -->
            <li class="list-item">
              <div class="text-block-11">Website:</div>
              <a href="mailto:tomiowm.design@gmail.com" class="footer-link">Tomio Miyagawa</a>
            </li>
          </ul>
        </div>
        <div>
          <h2 class="footer-heading-2">Social media</h2>
          <ul role="list" class="w-list-unstyled">
            <li class="list-item">
              <a href="https://www.facebook.com/events/1339381806789423" target="_blank" class="footer-link">Facebook</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </footer>
  <script src="https://d3e54v103j8qbb.cloudfront.net/js/jquery-3.5.1.min.dc5e7f18c8.js?site=612bf83c101af90c9c04c39a" type="text/javascript" integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0=" crossorigin="anonymous"></script>
  <script src="js/webflow.js" type="text/javascript"></script>
  <!-- [if lte IE 9]><script src="https://cdnjs.cloudflare.com/ajax/libs/placeholders/3.0.2/placeholders.min.js"></script><![endif] -->
  <script>
/*
// DETAIL FUNCTIONALITY
const eventBlocks = document.querySelectorAll(".event-block");
const detailedEventBlocks = [];
eventBlocks.forEach(eventBlock => {
	if (eventBlock.childElementCount > 1) {
		detailedEventBlocks.push(eventBlock);
	}
})
detailedEventBlocks.forEach(detailedEventBlock => {
	detailedEventBlock.innerHTML += '<div class="expand-icon"></div>';
	detailedEventBlock.style.radius = '10px';
	console.log('forEach: ' + detailedEventBlock);
  detailedEventBlock.addEventListener("mouseenter", event => {
  	const elem = event.target;
    elem.style.zIndex = '5';
    console.log(elem + ' has been hovered over');
  }, false);
  detailedEventBlock.addEventListener("mouseleave", event => {
    console.log(event.target + ' has been hovered off of');
    setTimeout(() => {
    	event.target.style.zIndex = '1';
		}, 100);
  }, false)
});
// ZOOM FUNCTIONALITY
const sliderZoom = document.getElementById("zoom-slider");
const timelineWrap = document.querySelector(".timeline-wrap");
const eventHeadings = document.querySelectorAll(".event-block-heading");
const smallTimeTexts = document.querySelectorAll(".time-text.small");
timelineWrap.style.fontSize = '1em';
sliderZoom.addEventListener("input", (e) => {
	const sliderValue = e.target.value / 10;
  if (sliderValue <= 0.7) {
  	smallTimeTexts.forEach(text => {
    	text.style.display = 'none';
    });
  } else {
    	smallTimeTexts.forEach(text => {
    		text.style.display = 'block';
    	});
  }
  if (sliderValue < 0.9) {
  	eventHeadings.forEach(heading => {
    	if(heading.classList.contains("single")){
      	heading.style.fontSize = '1.5em';
			} else if(heading.classList.contains("double")){
      	heading.style.fontSize = '1.3em';
			} else {
        heading.style.fontSize = '2em';
      }
    });
  } else {
    	eventHeadings.forEach(heading => {
    	if(heading.classList.contains("single")){
      	heading.style.fontSize = '20px';
			} else if(heading.classList.contains("double")){
      	heading.style.fontSize = '20px';
			} else {
        heading.style.fontSize = '25px';
      }
    });
  }
	timelineWrap.style.fontSize = sliderValue + 'em';
});
*/
</script>
</body>
</html>